body{
    font-size: large;

}
h1{
   font-size: 60px;

}
.orange-color{
      color: orange;

}

h3{
   color: rgb(16, 70, 107);

}
p{
  color: crimson;

}
section{
       display: flex;
}
.half-width{
            width:50%;   

}
.half-width img{
                width:50%
}
.link-button{
             text-decoration:none ;
             background-image: linear-gradient(orange,tomato); 
             padding: 5px 5px;
             border-radius: 5px;
              color: dimgray;
              font-weight: 700 ;
}








